---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import LikeButton from "../components/LikeButton.astro";

interface Props {
  title: string;
  description?: string;
  pageId?: string;
}

const { title, description, pageId } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />
    <link
      rel="preload"
      href="/fonts/Inter/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/fonts/Inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav title={title} />
    <main>
      <div class="content">
        <slot />
        {
          pageId && (
            <div class="social">
              <LikeButton pageId={pageId} />
              <strong class="dot-separator">·</strong>
              <div>
                <strong class="share">
                  { /* prettier-ignore */}
                  <a class="link" id="copy-link">Copy&nbsp;&&nbsp;Share:</a>
                </strong>
              </div>
              <div>
                <strong class="share">
                  <span class="link-address">{` sikorsky.design${currentPath.replace(/\/$/, "")}`}</span>
                </strong>
              </div>
            </div>
          )
        }
      </div>
    </main>
    <footer>
      <p class="secondary">
        © 1988 … and counting, Paul Sikorsky
      </p>
    </footer>
  </body>
</html>

<style>
  .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 56px;

    gap: 8px;

    position: relative;
    left: -8px;

    font-size: 20px;
  }

  @media (max-width: 600px) {
    .social {
      display: block;
      left: -12px;

      margin-top: 34px;
    }
  }

  .dot-separator {
    display: inline;
    visibility: visible;
  }

  @media (max-width: 600px) {
    .dot-separator {
      display: none;
      visibility: hidden;
    }
  }

  @media (max-width: 600px) {
    .like-container {
      margin-bottom: 34px;
    }
    .share {
      padding-left: 12px;
    }
  }

  #copy-link {
    cursor: pointer;
  }
</style>

<script is:inline>
  document.getElementById("copy-link").addEventListener("click", (e) => {
    if (e.target.closest(".link")) {
      e.preventDefault();
      navigator.clipboard.writeText(
        `sikorsky.design${window.location.pathname}`
      );
    }
  });
</script>
